[submodule "Gfileserver"]
	path = Gfileserver
	url = https://github.com/GKernelCI/Gfileserver
[submodule "GBuildbot-master"]
	path = GBuildbot-master
	url = https://github.com/GKernelCI/GBuildbot-master
