version: '3.3'

secrets:
  Lava:
    lava_server: 140.211.166.173
    lava_port: 10080
    lava_user: buildbot
    lava_token: GENERATE_PASS

  Buildbot:
    worker_name: worker0
    worker_pass: GENERATE_PASS
    master_port: 9989
    master_ip: buildbot
    web_auth_user: demo
    web_auth_password: demo
    irc_host: "irc.freenode.net"
    irc_channels: "#gentoo-kernelci"
    irc_nick: GENERATE_NICK
